EDGETERM_HOST=127.0.0.1
EDGETERM_PORT=9092
EDGETERM_CLOUD_DIR=/var/lib/edgeterm

EDGETERM_DB_HOST=10.0.0.20
EDGETERM_DB_PORT=3306
EDGETERM_DB_NAME=edgeterm
EDGETERM_DB_USER=edgeterm
EDGETERM_DB_PASSWORD=change-me
